.side_nav {
  width: 25%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  padding-top: 20px;
}

.side_item {
  border: 1px solid#d6d6d6;
  width: 50%;
  /* height: 40px; */
  padding: 10px 0 10px 20px;
  margin-bottom: 3px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 10px;
  background-color: #eaeaeb;
  font-weight: bold;
  color: #353537;
  cursor: pointer;
  margin-left: 24%;
}

.side_item:nth-child(1) {
  color: #44b38c;
}

.side_item:hover {
  color: #44b38c;
  /* transform: scale(.1); */
  /* transform:  */
}
